body {
	font-family: arial; sans-serif;
	color: rgb(255, 255, 255);
	font-size: 12px;
}

nav {
position: absolute;

top:15px;
right:0;
border-bottom: 1px solid black;
border-top: 1px solid black;
height: 30px;
width: 100%;
margin: auto;
}

#header {
	display:flex;
	justify-content: flex-end;
	list-style: none;
	margin-bottom: 5px;
	margin-top: 5px;
	font-size:13px;
	margin-right: 10px;
	padding: 5px;
}

#header li {
	margin-right: 10px;
	margin-left: 10px;	
	border: 3px solid black;
	
}

#logouser {
	height: 30px;
	width: 30px;
	position: relative;
	top: -6px;
	background-image: url("user.jpg");
	background-attachment: scroll;
	background-position-x: 32px;
	background-position-y: 0px; 
	border-radius: 15px;
}


#logocarre {
	height: 25px;
	width: 25px;
	position: relative;
	top: -6px;
	background-image: url("logos.png");
	background-position: -156px -38px;
	background-position-x: -132px;
	background-position-y: -38px;
}

#logocloche {
	height: 18px;
	width: 18px;
	position: relative;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.85);
	background-image: url("logos.png");
	background-position: -194px -21px;
	background-position-x: -195px;
	background-position-y: -21px;
	border-radius: 15px;

}




#ppale {
	position: absolute;
	height: 100%;
	width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
}


a:activated, a:visited {
	text-decoration: : none;
	color: rgb(255, 255, 255);
}

a:hoover {
	text-decoration: underline;
}
