body {
	font-family: arial; sans-serif;
	font-size: 12px;
}

nav {
top:15px;
right:0;
height: 30px;
width: 100%;
margin: auto;
}

ul {
	display:flex;
	justify-content: flex-end;
	list-style: none;
	margin-bottom: 5px;
	margin-top: 14px;
	font-size:13px;
	margin-right: 10px;
	padding: 5px;
}

#header li {
	margin-right: 10px;
	margin-left: 10px;	
	
}

#header li a {
	display: block;
}

#logouser {
	height: 30px;
	width: 30px;
	position: relative;
	top: -6px;
	background-image: url("user.jpg");
	background-attachment: scroll;
	background-position: 32px 0;
	border-radius: 15px;
}


#logocarre {
	height: 25px;
	width: 25px;
	position: relative;
	top: -6px;
	background-image: url("logos.png");
	background-position: -132px -38px;
}

#logocloche {
	height: 18px;
	width: 18px;
	position: relative;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.85);
	background-image: url("logos.png");
	background-position: -195px -21px;
	border-radius: 15px;
}

#logocarre a, #logouser a, #logocloche a {
		display: block;
		opacity: 0;
}


/* ----------------------- FIN HEADER DEBUT CORPS ---------------*/

#ppale {
	position: absolute;
	height: 80%;
	width: 99%;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo {

	margin: 20px;
}

#recherche {
height:40px;
width: 45%;
	background-color: white;
	border-radius: 2px;
	border: 1px solid #DDD;
	box-shadow: 1px 4px 4px #DDD;
	margin-bottom: 20px;


}

#recherche:hover{
	box-shadow: 0px 5px 5px #808080;
}

#bouton {
	display: flex;
}

.button
{
	display: block;
	width: 140px;
	height: 36px;
	margin: 11px 4px;
	padding: 0 16px;
	text-align: center;
	line-height: 30px;
	background-color: #F3F3F3;
	color: #757575;
	font-size:13px;
	font-weight: bold;
	border-radius: 2px;
}

.button:hover {
	border: 1px solid grey;
	text-decoration: none;
	color: black;
}

/*----------------- HYPERTEXTE --------------------*/

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


footer a {
	color: #717171;
}
/*------------------------- FOOTER -------------------------*/

footer {
	color:#717171;
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: 

}



#haut {
	height: 45px;
	border:1px solid #e4e4e4;
	font-size: 15px;
	padding-left: 27px;
	background-color: #f2f2f2;
}

#bas  {
	font-size: 13px;
	border:1px solid #e4e4e4;
	display: flex;
	background-color: #f2f2f2;
	justify-content: space-between;
	padding-left: 23px;
	padding-right: 15px;
}

#bas li {
	margin-right: 20px;
}

#gauche {
	position: absolute;
	left: 0;
}

#droite {
	justify-content: flex-end;
}




